*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background: rgb(62, 82, 82);
}
.container{
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.meme_title{
    margin: 20px 0;
    color: rgb(212, 212, 212);
}

.container img{
    height: 430px;
    object-fit: contain;
    border: 5px white;
}

.meme_button{
  font-size:15px;
  margin-top: 20px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:#fff;
  border-color:#599bb3;
  padding: 0 5px;
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
  background:linear-gradient(#599bb3, #408c99);
  cursor: pointer;
}

.meme_button:hover {
  background: linear-gradient(#408c99, #599bb3);
}

.meme_author{
    margin: 8px;
    color: rgb(212, 212, 212);
}